<div class="container-footer-all">
        <div class="container-body">
        
        <div class="columna1">
            <h1>Mas Informacion</h1>
            <p>Recuperatorio del Primer Parcial de la materia Programacion en Ambiente Web</p>
        </div>
        
        <div class="columna2">
            <h1>Email</h1>
            
            <div class="fila">
                <img src="/public/css/images/mail-flat.png">
                <label><a href="mailto:vnardoni@live.com.ar">vnardoni@live.com.ar</a> </label>
            </div>
            
        </div>
        
        <div class="columna3">
            <h1>Profesores</h1>
            <div class="fila2">
                <img src="/public/css/images/profesor-flat.svg">
                <label>Delvecchio Tomas</label>
            </div> 
            
            <div class="fila2">
                <img src="/public/css/images/profesor-flat.svg">
                <label>Chale Pablo</label>
            </div>    
        </div>
        
        </div>
        
    </div>

    <div class="container-footer">
        <div class="foot">
            <div class="author">
                <p>Alumno: <a href="#">Valentin  Nardoni</a></p>
            </div>
        
            <div class="terminos">
                <p>Curso 2019</p>
            </div>
        </div>    
    </div>
