<div class="container">
        <nav>
            <input type="checkbox" id="nav" class="hidden">
            <label for="nav" class="navButton">
                <i></i>
                <i></i>
                <i></i>
            </label>
            
            <div class="logo">
                <img src="/public/css/images/logo-unlu.png">
                <a href="/">Programacion en Ambiente Web</a>
                <p>Universidad Nacional de Lujan</p>
            </div>
            
            <div class="nav-wrapper">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/formulario">FORMULARIO</a></li>
                    <li><a href="/listado">LISTADO DE USUARIOS</a></li>
                </ul>
            </div>
        
        </nav>
    </div>